
.icon-down-dir:before { content: '\e800'; } /* '' */
.icon-gauge:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-up-dir:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */